.place__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  margin: 0;
  font-style: normal;
  box-sizing: border-box;
}

@media screen and (max-width: 1098px) {
  .place__title {
    max-width: 340px;
    font-size: 42px;
    line-height: 110%;
  }
}

@media screen and (max-width: 767px) {
  .place__title {
    align-self: flex-start;
    margin-left: 20px;
    width: unset;
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 109%;
    margin-left: 16px;
  }
}
