@import url(./__paragraph/frame-6__paragraph.css);
@import url(./__paragraph/_theme/frame-6__paragraph-theme_cover.css);

.frame-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 355px;
  /*height: 48px;*/
  padding: 13px 20px 13px 20px;
  background-color: #0278fe;
  border-radius: 4px;
  margin: 0;
}
