.about-us__title {
  width: 656px;
  height: 76px;
  font-weight: 900;
  font-size: 72px;
  line-height: 109%;
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .about-us__title {
    width: 288px;
    height: 35px;
    font-size: 32px;
  }
}
