.lead__rectangle-21 {
  width: 100%;
  height: 615px;
  /*padding-bottom: 100%;*/
  min-width: 768px;
  min-height: 480px;
  background: #000000;
  mix-blend-mode: luminosity;
  background-image: url(../../../images/kalegin-michail-179870-unsplash.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 64px;
}

@media screen and (max-width: 768px) {
  .lead__rectangle-21 {
    margin-top: 69px;
    width: 100%;
    height: 480px;
    background-image: url(../../../images/kalegin-michail-179870-unsplash_768.png);
    max-width: 768px;
    max-height: 480px;
    min-width: 320px;
    min-height: 200px;
  }
}
