@import url(./_pic/photo-grid__item_pic_01.css);
@import url(./_pic/photo-grid__item_pic_02.css);
@import url(./_pic/photo-grid__item_pic_03.css);
@import url(./_pic/photo-grid__item_pic_04.css);
@import url(./_pic/photo-grid__item_pic_05.css);
@import url(./_pic/photo-grid__item_pic_06.css);
@import url(./_pic/photo-grid__item_pic_07.css);
@import url(./_pic/photo-grid__item_pic_08.css);

.photo-grid__item {
  width: 284px;
  height: 213px;
  background-size: cover;
}

@media screen and (max-width: 950px) {
  .photo-grid__item {
    width: 352px;
    height: 264px;
  }
}

@media screen and (max-width: 398px) {
  .photo-grid__item {
    width: 288px;
    height: 216px;
  }
}
