@import url(./__logo/header__logo.css);
@import url(./__title/header__title.css);
@import url(./__subtitle/header__subtitle.css);
@import url(./__main-illustration/header__main-illustration.css);

.header {
  width: 984px;
  /*height: 983px;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 148px;
}
