.website_theme_gales {
  padding-top: 85px;
}

@media screen and (max-width: 1098px) {
  .website_theme_gales {
    padding-top: 0;
  }
}

@media screen and (max-width: 767px) {
  .website_theme_gales {
    padding-top: 30px;
  }
}
