.lead__title {
  max-width: 793px;
  min-width: 720px;
  height: 200px;
  font-size: 96px;
  font-weight: 900;
  line-height: 104%;
  text-align: center;
  margin: 0 95px 0 96px;
}

@media screen and (max-width: 768px) {
  .lead__title {
    margin: 0 24px 0 24px;
    max-width: 720px;
    min-width: unset;
    height: unset;
  }
}

@media screen and (max-width: 486px) {
  .lead__title {
    font-size: 63px;
    line-height: 110%;
  }
}

@media screen and (max-width: 802px) {
  .lead__title {
    min-width: unset;
    height: unset;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    width: 288px;
    max-width: 288px;
    height: 88px;
    margin: 0 16px;
    font-size: 40px;
    line-height: 110%;
    min-width: unset;
  }
}
