@import url(../logo/__image/logo__image.css);

.logo {
  padding-top: 34px;
  margin: 0 39%;
  width: 21%;
  height: 70px;
}

@media screen and (max-width: 768px) {
  .logo {
    margin: 0 32%;
  }
}
