@import url(./__title/intro__title.css);
@import url(./__descripction/intro__descripction.css);

.intro {
  width: 79%;
  padding-top: 92px;
  margin: 0 9% 0 12%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

@media screen and (max-width: 920px) {
  .intro {
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    padding-top: 55px;
    max-width: 768px;
    width: unset;
    margin: 0;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    padding-top: 44px;
  }
}
