@import url(./__title/intro__title.css);
@import url(./__descripction/intro__descripction.css);

.intro {
  width: 79%;
  height: 516px;
  padding-top: 92px;
  margin: 0 9% 0 12%;
}

@media screen and (max-width: 768px) {
  .intro {
    padding-top: 55px;
    width: 93%;
    /*height: 607px;*/
    margin: 0 3% 0 3%;
  }
}
