.website__url-heading {
  width: 58px;
  height: 15px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-bottom: 8px;
}

@media screen and (max-width: 767px) {
  .website__url-heading {
    width: 288px;
    padding-bottom: 0;
  }
}
