@import url(../vendor/normalize.css);
@import url(../blocks/page/page.css);
@import url(../fonts/inter.css);

@import url(../blocks/logo/logo.css);
@import url(../blocks/logo/__image/logo__image.css);

@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/__fotoframe/lead__fotoframe.css);

@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/__descripction/intro__descripction.css);

@import url(../blocks/quote/quote.css);
@import url(../blocks/quote/__description/quote__description.css);
@import url(../blocks/quote/__author/quote__author.css);

@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__item/photo-grid__item.css);
@import url(../blocks/photo-grid/__item/_pic/photo-grid__item_pic_beach-view-1.css);
@import url(../blocks/photo-grid/__item/_pic/photo-grid__item_pic_beach-view-2.css);
@import url(../blocks/photo-grid/__item/_pic/photo-grid__item_pic_church.css);
@import url(../blocks/photo-grid/__item/_pic/photo-grid__item_pic_bridge.css);
@import url(../blocks/photo-grid/__item/_pic/photo-grid__item_pic_countryside.css);
@import url(../blocks/photo-grid/__item/_pic/photo-grid__item_pic_park.css);
@import url(../blocks/photo-grid/__item/_pic/photo-grid__item_pic_hut.css);
@import url(../blocks/photo-grid/__item/_pic/photo-grid__item_pic_mountains.css);

@import url(../blocks/places/places.css);
@import url(../blocks/place/place.css);
@import url(../blocks/place/__title/place__title.css);
@import url(../blocks/place/__title/_theme/place__title_theme_ucrania.css);
@import url(../blocks/place/__title/_theme/place__title_theme_gales.css);
@import url(../blocks/place/__title/_theme/place__title_theme_usa.css);
@import url(../blocks/place/__image/place__image.css);
@import url(../blocks/place/__image/_pic/place__image_pic_ucrania.css);
@import url(../blocks/place/__image/_pic/place__image_pic_gales.css);
@import url(../blocks/place/__image/_pic/place__image_pic_usa.css);
@import url(../blocks/place/__image/_pic/place__image_pic_burindi.css);
@import url(../blocks/place/__image/_pic/place__image_pic_guayaquil.css);
@import url(../blocks/place/__paragraph/place__paragraph.css);
@import url(../blocks/place/_theme/place_theme_gales.css);
@import url(../blocks/place/_theme/place_theme_usa.css);
@import url(../blocks/place/_theme/place_theme_burundi.css);
@import url(../blocks/place/_theme/place_theme_guayaquil.css);

@import url(../blocks/paragraphs/paragraphs.css);
@import url(../blocks/paragraphs/_theme/paragraphs_theme_ucrania.css);
@import url(../blocks/paragraphs/_theme/paragraphs_theme_gales.css);
@import url(../blocks/paragraphs/_theme/paragraphs_theme_usa.css);
@import url(../blocks/paragraphs/_theme/paragraphs_theme_burundi.css);
@import url(../blocks/paragraphs/_theme/paragraphs_theme_guayaquil.css);

@import url(../blocks/website/website.css);
@import url(../blocks/website/__url-heading/website__url-heading.css);
@import url(../blocks/website/__artist/website__artist.css);
@import url(../blocks/website/_theme/website_theme_gales.css);
@import url(../blocks/website/_theme/website_theme_usa.css);
@import url(../blocks/website/_theme/website_theme_burundi.css);
@import url(../blocks/website/_theme/website_theme_guayaquil.css);

@import url(../blocks/button/button.css);
@import url(../blocks/button/__paragraph/button__paragraph.css);
@import url(../blocks/button/__paragraph/_theme/button__paragraph_theme_cover.css);
@import url(../blocks/button/_theme/button_theme_cover.css);

@import url(../blocks/cover/cover.css);
@import url(../blocks/cover/__overlay/cover__overlay.css);
@import url(../blocks/cover/__background/cover__background.css);

@import url(../blocks/about-us/about-us.css);
@import url(../blocks/about-us/__title/about-us__title.css);
@import url(../blocks/about-us/__subtitle/about-us__subtitle.css);

@import url(../blocks/footer/footer.css);

body {
  color: #fff;
  font-family: "Inter", serif;
  background-color: #2a2c2f;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover .button {
  background-color: #0063d2;
  transition: background-color 1s ease;
}

ul {
  list-style: none;
  padding-left: 0;
}
