.place {
  max-width: 984px;
  height: 756px;
  display: grid;
  grid-template-columns: minmax(340px, 47%) minmax(417px, 49%);
  grid-template-rows: 152px 460px 48px;
  grid-gap: 48px 40px;
}

@media screen and (max-width: 1098px) {
  .place {
    max-width: 768px;
    height: 600px;
    grid-gap: 24px 28px;
    margin: 0 3% 0 3%;
    grid-template-columns: 340px 352px;
    grid-template-rows: 67px 340px 145px;
  }

  .place_theme_gales {
    grid-template-rows: 89px 340px 157px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    max-width: 620px;
    height: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
}
