.place_theme_usa {
  padding-top: 35px;
  height: 705px;
  grid-template-rows: 99px 460px 48px;
}

@media screen and (max-width: 1098px) {
  .place_theme_usa {
    padding-top: 47px;
    height: 658px;
    grid-template-rows: 99px 340px 172px;
  }
}

@media screen and (max-width: 767px) {
  .place_theme_usa {
    padding-top: 36px;
    height: unset;
  }
}
